<template>
  <div id="cities">
    <b-button class="btn_add" type="is-info is-light" @click="addCity()">Add City</b-button>
    <b-table
      :data="isEmpty ? [] : data"
      :hoverable="true"
      :loading="isLoading"
      :mobile-cards="true"
    >
      <b-table-column
        field="code"
        label="Code"
        width="40"
        v-slot="props"
      >
        {{ props.row.code }}
      </b-table-column>

      <b-table-column field="description" label="Description" v-slot="props" :centered="true">
        {{ props.row.description }}
      </b-table-column>

      <b-table-column label="Actions" v-slot="props" :centered="true">
        <b-button type="is-warning" size="is-small" class="btn_action" @click="editCity(props.row)">Edit</b-button>
        <b-button type="is-danger" size="is-small" class="btn_action" @click="deleteCity(props.row.code)">
            Delete
        </b-button>
      </b-table-column>

      <template #empty>
        <div class="has-text-centered">No hay registros</div>
      </template>
    </b-table>
  </div>
</template>
<script>
import Vue from "vue";
import ModalActions from "./ModalActions.vue";

export default {
  name: "CitiesComponent",
  data() {
    return {
      data: [],
      isEmpty: false,
      isLoading: false
    };
  },
  mounted() {
    this.isLoading = true;
    this.getCities();
  },
  methods: {
    getCities () {
        Vue.axios.get("/city").then((response) => {
            this.data = response.data;
            if (response.data.length == 0) {
                this.isEmpty = true;
            }
            this.isLoading = false;
        });
    },
    addCity () {
        const t = this;
        this.$buefy.modal.open({
          parent: t,
          props: {
            type: 'city',
            method: 'add',
            dataElement: null
          },
          component: ModalActions,
          canCancel: false,
          events: {
            action () {
                t.getCities();
            }
          }
        });
    },
    editCity(city) {
        const t = this;
        this.$buefy.modal.open({
          parent: t,
          props: {
            type: 'city',
            method: 'edit',
            dataElement: city
          },
          component: ModalActions,
          canCancel: false,
          events: {
            action () {
                t.getCities();
            }
          }
        });
    },
    deleteCity (code) {
        this.$buefy.dialog.confirm({
            title: 'Deleting City',
            message: 'Are you sure you want to <b>delete</b> this city? This action cannot be undone.',
            confirmText: 'Delete City',
            type: 'is-danger',
            hasIcon: true,
            onConfirm: () => {
                Vue.axios.delete('/city/' + code ).then(() => {
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: 'City deleted!',
                        type: 'is-success'
                    });
                    this.getCities();   
                }).catch(response => {
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: response.response.data,
                        type: 'is-danger'
                    })   
                });
            }
        })
    }
  },
};
</script>
<style lang="scss">
@import "../assets/styles/index.scss"
</style>
