<template>
    <div id="modalActions">
        <div v-if="type == 'city'" class="columns">
            <div class="column is-6">
                <b-field label="Code">
                    <b-input placeholder="Code" disabled v-model="data.code"></b-input>
                </b-field>
            </div>
            <div class="column is-6">
                <b-field label="Description">
                    <b-input placeholder="Description" v-model="data.description"></b-input>
                </b-field>
            </div>
        </div>
        <div v-else class="columns is-multiline">
            <div class="column is-6">
                <b-field label="Code">
                    <b-input placeholder="Code" disabled v-model="data.code"></b-input>
                </b-field>
            </div>
            <div class="column is-6">
                <b-field label="Name">
                    <b-input placeholder="Name" v-model="data.name"></b-input>
                </b-field>
            </div>
            <div class="column is-6">
                <b-field label="Last Name">
                    <b-input placeholder="Last Name" v-model="data.last_name"></b-input>
                </b-field>
            </div>
            <div class="column is-6">
                <b-field label="Document">
                    <b-input placeholder="Document" v-model="data.document"></b-input>
                </b-field>
            </div>
            <div class="column is-6">
                <b-field label="City">
                    <b-select placeholder="Select a city" v-model="data.city_id" expanded>
                        <option
                            v-for="option in cities"
                            :value="option.code"
                            :key="option.code">
                            {{ option.description }}
                        </option>
                    </b-select>
                </b-field>
            </div>
        </div>
        <div class="columns footer_modal">
            <button class="btn btn_add" v-if="method == 'add'" @click="Add()">Add</button>
            <button class="btn btn_edit" v-if="method == 'edit'" @click="Edit()">Edit</button>
            <button class="btn btn_cancel" @click="closeModal()">Cancel</button>
        </div>
    </div>
</template>
<script>
import Vue from "vue";

export default {
    props: ['type', 'method', 'dataElement'],
    data () {
        return {
            data: {},
            cities: []
        }
    },
    mounted () {
        if (this.method == 'edit') {
            this.data = this.dataElement;
        }
        if (this.type == 'seller') {
            Vue.axios.get('/city').then(response => {
                this.cities = response.data;
            });
        }
    },
    methods: {
        closeModal () {
            this.$parent.close();
        },
        Add () {
            let obj = {}
            if (this.type == 'city') {
                obj = {
                    description: this.data.description
                }
                Vue.axios.post('/city', obj).then(() => {
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: 'City added!',
                        type: 'is-success'
                    });
                    this.$emit('action');
                });
            } else {
                obj = {
                    name: this.data.name,
                    last_name: this.data.last_name,
                    document: this.data.document,
                    city_id: this.data.city_id
                }
                Vue.axios.post('/seller', obj).then(() => {
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: 'Seller added!',
                        type: 'is-success'
                    });
                    this.$emit('action');
                });
            }
            this.$parent.close();
        },
        Edit () {
            let obj = {}
            if (this.type == 'city') {
                obj = {
                    code: this.data.code,
                    description: this.data.description
                }
                Vue.axios.put('/city', obj).then(() => {
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: 'City modified!',
                        type: 'is-success'
                    });
                    this.$emit('action');
                });
            } else {
                obj = {
                    code: this.data.code,
                    name: this.data.name,
                    last_name: this.data.last_name,
                    document: this.data.document,
                    city_id: this.data.city_id
                }
                Vue.axios.put('/seller', obj).then(() => {
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: 'Seller modified!',
                        type: 'is-success'
                    });
                    this.$emit('action');
                });
            }
            this.$parent.close();
        }
    }
}
</script>
<style lang="scss">
@import "../assets/styles/modalActions.scss"
</style>
