<template>
  <div id="navbar">
    <b-navbar>
      <template #start>
        <b-navbar-item tag="router-link" :to="{ path: '/cities' }"> Cities </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/sellers' }"> Sellers </b-navbar-item>
      </template>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: "NavbarComponent",
};
</script>
<style lang="scss">
@import "../assets/styles/navbar.scss"
</style>
