<template>
  <div id="sellers">
    <b-button class="btn_add" type="is-info is-light" @click="addSeller()">Add Seller</b-button>
    <b-table
      :data="isEmpty ? [] : data"
      :hoverable="true"
      :loading="isLoading"
      :mobile-cards="true"
    >
      <b-table-column
        field="code"
        label="Code"
        width="40"
        v-slot="props"
      >
        {{ props.row.code }}
      </b-table-column>

      <b-table-column field="name" label="Name" v-slot="props" :centered="true">
        {{ props.row.name }}
      </b-table-column>

      <b-table-column field="last_name" label="Last Name" v-slot="props" :centered="true">
        {{ props.row.last_name }}
      </b-table-column>

      <b-table-column field="document" label="Document" v-slot="props" :centered="true">
        {{ props.row.document }}
      </b-table-column>

        <b-table-column field="city_id" label="City" v-slot="props" :centered="true">
            {{ getCity(props.row.city_id) }}
        </b-table-column>

      <b-table-column label="Actions" v-slot="props" :centered="true">
        <b-button type="is-warning" size="is-small" class="btn_action" @click="editSeller(props.row)">Edit</b-button>
        <b-button type="is-danger" size="is-small" class="btn_action" @click="deleteSeller(props.row.code)">
            Delete
        </b-button>
      </b-table-column>

      <template #empty>
        <div class="has-text-centered">No hay registros</div>
      </template>
    </b-table>
  </div>
</template>
<script>
import Vue from "vue";
import ModalActions from "./ModalActions.vue";

export default {
  name: "CitiesComponent",
  data() {
    return {
      data: [],
      isEmpty: false,
      isLoading: false,
      cities: []
    };
  },
  mounted() {
    this.isLoading = true;
    this.getSellers();
    this.getCities();
  },
  methods: {
    getSellers () {
        Vue.axios.get("/seller").then((response) => {
            this.data = response.data;
            if (response.data.length == 0) {
                this.isEmpty = true;
            }
            this.isLoading = false;
        });
    },
    getCities () {
        Vue.axios.get("/city").then((response) => {
            this.cities = response.data;
            this.isLoading = false;
        });
    },
    getCity (code) {
        const city = this.cities.find(e => e.code == code);
        if (city == undefined) {
            return '';
        }
        return city.description;
    },
    addSeller () {
        const t = this;
        this.$buefy.modal.open({
          parent: t,
          props: {
            type: 'seller',
            method: 'add',
            dataElement: null
          },
          component: ModalActions,
          canCancel: false,
          events: {
            action () {
                t.getSellers();
            }
          }
        });
    },
    editSeller(seller) {
        const t = this;
        this.$buefy.modal.open({
          parent: t,
          props: {
            type: 'seller',
            method: 'edit',
            dataElement: seller
          },
          component: ModalActions,
          canCancel: false,
          events: {
            action () {
                t.getSellers();
            }
          }
        });
    },
    deleteSeller (code) {
        this.$buefy.dialog.confirm({
            title: 'Deleting Seller',
            message: 'Are you sure you want to <b>delete</b> this seller? This action cannot be undone.',
            confirmText: 'Delete Seller',
            type: 'is-danger',
            hasIcon: true,
            onConfirm: () => {
                Vue.axios.delete('/seller/' + code ).then(() => {
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: 'Seller deleted!',
                        type: 'is-success'
                    });
                    this.getSellers();   
                }).catch(response => {
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: response.response.data,
                        type: 'is-danger'
                    })   
                });
            }
        })
    }
  },
};
</script>
<style lang="scss">
@import "../assets/styles/index.scss"
</style>
