#cities, #sellers {
    width: 80%;
    margin: auto;
    .btn_add {
        display: flex;
        margin: 20px 0;
    }
    .table {
        border: 1px solid #dbdbdb;
        border-radius: 10px;
    }
    .btn_action {
        margin: 0 15px;
    }
}