#modalActions {
    background-color: #fff;
    min-height: 200px;
    overflow: hidden;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer_modal {
        display: flex;
        justify-content: center;
    }
    .btn {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        border: none;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
    }
    .btn_add {
        background-color: #53a653;
    }
    .btn_edit {
        background-color: #f0ad4e;
    }
    .btn_cancel {
        background-color: #c34b47;
    }
}