#navbar {
    .navbar {
        background-color: #646464;
        padding: 0 50px;
    }
    .navbar-item {
        color: #fff;
        padding: 0 10px;
    }
    .router-link-active {
        color: #646464;
        background-color: #fafafa;
    }
    .navbar-item:hover {
        color: #646464;
    }
    @media screen and (max-width: 1023px) {
       .navbar-menu {
        background-color: transparent;
       } 
    }
}